<%- layout("layouts/boilerplate") %>

<body>
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center new-title">Edit your Listing</h1>
        <h6 class="text-center new-subtitle">Here you can edit your Product  details!</h6>
      
    </div>
     
    <div class="col-md-6  offset-3 p-2 edit-box mt-4">
    <form action="/listings/<%= listing.id %>" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="ms-3">
        <label for="name" class="form-label mt-3 ">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Enter Product Name" value="<%= listing.name %>" class="form-control"  required>
        </div>
       
        <div class="ms-3">
        <label for="brand" class="form-label mt-3">Brand Name</label>
        <input type="text" name="brand" id="brand" placeholder="Enter Product Brand" value="<%=listing.brand %>" class="form-control" required>
         </div>

        <div class="ms-3">
        <label for="description" class="form-label mt-3">Product Description</label>
        <textarea name="description" id="description" placeholder="Enter Product description" cols="30" class="form-control" required><%= listing.description %></textarea>
       </div>

       <div class="ms-3">
        <label for="price" class="form-label mt-3">Product Price</label>
        <input type="text" name="price" id="price" placeholder="Enter Proudct Price" value="<%=listing.price%>" class="form-control" required>
    </div>
     
       <div class="ms-3">
        <label for="image" class="form-label mt-3">Product Image</label>
        <input type="file" name="image" id="image" placeholder="Product Image"  class="form-control" >
        </div>
        
        <div>
        <label for="whatMakesItPotent" class="form-label mt-3 ms-3">What Makes It Potent</label>
        <textarea name="whatMakesItPotent" id="whatMakesItPotent" placeholder=" what Makes your product Potent" cols="30" class="form-control ms-3 edit-textbox" required><%= listing.whatMakesItPotent %></textarea>
        </div>


        <div class="ms-3">
        <label for="volume" class="form-label mt-3">Product Volume</label>
        <input type="text" name="volume" id="volume" placeholder="Product Volume" value="<%=listing.volume%>" class="form-control" required>
        </div>
    
        <div class="ms-3">
        <label for="category" class="form-label mt-3">Product Category-- <i><%=listing.category %></i></label>
        <select name="category" id="category"  class="form-select" multiple required>
            <option value="Cleanser">Cleanser</option>
            <option value="Toner">Toner</option>
            <option value="Serum">Serum</option>
            <option value="Moisturizer">Moisturizer</option>
            <option value="Sunscreen">Sunscreen</option>
            <option value="Eye Cream">Eye Cream</option>
            <option value="Mask">Mask</option>
            <option value="Exfoliant">Exfoliant</option>
        </select>
        </div>
        
        <div class="ms-3">
        <label for="skinType" class="form-label mt-3">Product SkinType -- <i><%=listing.skinType%></i></label>
        <select name="skinType" id="skinType"  class="form-select" multiple required>
            <option value="All skin types">All skin types</option>
            <option value="Normal">Normal</option>
            <option value="Oily">Oily</option>
            <option value="Dry">Dry</option>
            <option value="Combination">Combination</option>
            <option value="Sensitive">Sensitive</option>
        </select>
    </div>
        
    <div class="ms-3">
        <label for="skinConcern" class="form-label mt-3">Product skinConcern -- <i><%=listing.skinConcern  %></i></label>
        <select name="skinConcern" id="skin-concern-select"  class="form-select" multiple required>
            <option value="Acne">Acne</option>
            <option value="Hyperpigmentation">Hyperpigmentation</option>
            <option value="Fine Lines & Wrinkles">Fine Lines & Wrinkles</option>
            <option value="Redness">Redness</option>
            <option value="Dullness">Dullness</option>
            <option value="Dryness">Dryness</option>
            <option value="Sun Protection">Sun Protection</option>
            <option value="Pores">Pores</option>
            <option value="Dark Spots">Dark Spots</option>
            <option value="Dark Circles">Dark Circles</option>
        </select>
</div>
        
        <!-- <label for="keyIngredients ">Product keyIngredients </label>
        <input type="text" name="keyIngredients " id="keyIngredients " placeholder="Enter Product keyIngredients" value="<%= listing.keyIngredients %>">
        <br>
        <br> -->
    
       <div class="ms-3">
        <label for="productFormat" class="form-label mt-3">Product Base -- <i><%=listing.productFormat  %></i></label>
        <select name="productFormat" id="productFormat"  class="form-select" multiple required>
            <option value="Cream">Cream</option>
            <option value="Serum">Serum</option>
            <option value="Gel">Gel</option>
            <option value="Lotion">Lotion</option>
            <option value="Oil">Oil</option>
            <option value="Foam">Foam</option>
            <option value="Balm">Balm</option>
        </select>
        </div>
    
    
    
      <button class="btn btn-success mt-4 ms-3 mb-6">Save</button>
    
      </form>
      </div>
        
    
</body>
</html>